@model WoodMe.Models.User

@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/products.css" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <form asp-action="IndexManager">
        <input type="hidden" asp-for="UserId" />
        <div class="imgcontainer form-group">
            <img src="~/images/ManagerImg.svg" alt="Avatar" class="avatar">
        </div>
        @*w3-container*@
        <div class=" form-group">
            <label asp-for="UserName" class="control-label"><b>שם משתמש</b></label>
            <input asp-for="UserName" type="text" class="form-control" placeholder="Enter Username">
            <span asp-validation-for="UserName" class="text-danger"></span>

            <label asp-for="Password" class="control-label"><b>סיסמא</b></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="center form-group">
            <input type="submit" value="התחבר" class="btn btn-default" />
        </div>
        @*<div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">ביטול</button>
            </div>*@
    </form>
    @*</div>*@
</body>